.header {
    background-color: #f5f5f5;
}
.logo{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #151515;
    text-align: left;
}
.menuButton{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #151515;
    size: 18px;
    margin-left: 90px;
}
.toolbar{
  display: flex;
  justify-content: flex-end;
}