.root{
    min-height: 500px;
    min-width: 400px;
}
.bullet{
    display: inline-block;
    margin: 0px 2px;
    transform: scale(0,8);
}
.title{
    font-size: 14px;
}

.space{
    padding-bottom: 12px;
}

.spc{
    padding-top: 6px;
    padding-bottom: 6px;
}

.map{
    width: 100px;
    height: 100px;
}

.profil{
    width: 400px;
    height: 400px;
    margin-bottom: 250px;
}